@attribute [AllowAnonymous]
@inject CCAS.Application.Common.Interfaces.ICurrentUserService CurrentUserService
@inject NavigationManager NavigationManager

@page "/"

<AuthorizeView>
    <Authorized>
        
        <HomeDashboard />

    </Authorized>
    <NotAuthorized>
        <p class="fs-3">Welcome! Please log in.</p>
        <SfButton @onclick="@((args) => NavigateToLogin())" HtmlAttributes="@ButtonLogin"
                  IconCss="oi oi-account-login">Login</SfButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    private Dictionary<string, object> ButtonLogin = new Dictionary<string, object>()
    {
        { "title", "Login"}
    };
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("login", true);
    }
}